<a href="/sessions/destroy" data-method="delete">Logout</a>
<p>Name: <%= @borrower.first_name %> <%= @borrower.last_name %> </p>
<p>Amount Needed: $<%= @borrower.needed %></p>
<p>Amount Raised: $<%= @borrower.raised %></p>

<h4>List of people who lend you money: </h4>
<table class="striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Amount Lent</th>
  </tr>
  <% @borrow.each do |money| %>
    <% if money.id == session[:user_id] %>
   <% money.lenders.each do |lender|%>
  <tr>
    <td><%= lender.first_name %> <%= lender.last_name %></td>
    <td><%= lender.email %></td>
    <td><%= lender.money %></td>
  </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
