<a href="/sessions/destroy" data-method="delete">Logout</a>
<p>Name: <%= @borrower.first_name %> <%= @borrower.last_name %> </p>
<p>Amount Needed: $<%= @borrower.needed %></p>
<p>Amount Raised: $<%= @borrower.raised %></p>

<h4>List of people who lend you money: </h4>
<table class="striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Amount Lent</th>
  </tr>
    <% @lend.each do |person| %>
      <% if person.borrower_id == session[:user_id] %>
        <tr>
          <td><%= person.first_name %> <%= person.last_name %></td>
          <td><%= person.email %></td>
          <td><%= person.amount %></td>
        </tr>
    <% end %>
  <% end %>
</table>
